    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .hide{
      display: none;
    }
    
    .clear {
      clear: both;
    }

    body {
        height: 100vh;
    }
    
    .game {
    background: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: center;
  }
  
  h4 {
    font-family: "Arial", sans-serif;
    
  }
  
  

  .header {
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 1px 1px 5px rgb(26, 26, 26);

    background-color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .header-logo {
    width: 36px;
    margin: 8px 16px;
    display: block;
    
}

.header-desc {
  color: #000000;
  display: inline-block;
  line-height: 52px;
 
}

.header .name {
  text-transform: uppercase;
  line-height: 52px;
  color: #000000;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

  
  

  #container {
    
    width: 520px;
    min-height: 200px;
    margin: 100px auto;
    background-color: #e4f5fc;
    border-radius: 10px;
    box-shadow: -4px 4px 8px black;
    padding: 20px;
    
    
  }
  #container:after {
    content: "";
    display: table;
    clear: both;
  }

  [data-view=card] {
    transform: rotateY(0deg);
    width: 100px;
    height: 150px;
    border: solid 1px #c4f2ff;
    border-radius: 10px;
    box-shadow: -4px 4px 8px black;
    float: left;
    margin: 10px;
    cursor: pointer;
    background: url(./img/back.svg) top center / cover no-repeat;
    

  }

  .choose {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }
  
  .default {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .correct {
    opacity: 0.8;
    box-shadow: none;
    cursor: default;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }
  

  /* Hình */
  .correct[data-item=i1],
  .choose[data-item=i1] {
    background: url(./img/img1.svg) top center / cover no-repeat;
    
  }
  
  .correct[data-item=i2],
  .choose[data-item=i2] {
    background: url(./img/img2.svg) top center / cover no-repeat;
    
  }
  
  .correct[data-item=i3],
  .choose[data-item=i3] {
    background: url(./img/img3.svg) top center / cover no-repeat;
    
  }
  
  .correct[data-item=i4],
  .choose[data-item=i4] {
    background: url(./img/img4.svg) top center / cover no-repeat;
    
  }

  .correct[data-item=i5],
  .choose[data-item=i5] {
    background: url(./img/img5.svg) top center / cover no-repeat;
    
  }
  
  .correct[data-item=i6],
  .choose[data-item=i6] {
    background: url(./img/img6.svg) top center / cover no-repeat;
    
  }

